*~
CMakeCache*
CMakeFiles*
cmake_install.cmake
/install_manifest.txt
*.o
Makefile
cscope*
*~
*.a
CTestTestfile.cmake
/Testing/
self_test.xml
/*.pc
*.so
*.so.*
tests/Testing
*automoc.cpp
moc_*
examples/use_cutes
src/vault-cli
units/vault-*
*.moc
tests/tests.xml
tests/*_unit.cpp
src/config.hpp
